@model List<GetArticleWithUser>
<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3">
        @foreach (var item in Model)
        {
            <div class="col mb-5">
                <div class="card h-100">
                    <img src="@item.ImagePath" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Content.Substring(0, 30)</p>
                        <p class="card-text">devamını okumak için <a asp-action="ArticleDetail" asp-controller="Article" asp-route-id="@item.ArticleId">tıklayınız..</a></p>
                        <p class="card-text"><small class="text-muted">Oluşma Tarihi : @item.CreatedDate.ToShortDateString()</small></p>
                        <a class="btn btn-outline-info" asp-action="UserDetail" asp-controller="AppUser" asp-route-appUserId="@item.AppUserId">Yazar : @item.UserFullName</a>
                    </div>
                </div>
            </div> 
        }
    </div>
</div> 