@using System.Linq
@model Article
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-2"> 
            <article> 
                <header class="mb-4"> 
                    <h1 class="fw-bolder mb-1">@Model.Title</h1> 
                    <div class="row text-muted fst-italic mb-2">
                        <div class="col-md-6">
                            Yayınlanma Tarihi , @Model.CreatedDate.ToShortDateString()
                        </div>
                        <div class="col-md-6">
                            <span class="float-right">  Okunma Süresi , @Model.ReadTime dk</span>
                        </div>
                    </div> 
                    @foreach (var category in Model.ArticleCategories.Select(x => x.Category))
                    {
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">@category.Name</a>
                    }
                </header> 
                <figure class="mb-4"><img class="img-fluid rounded" src="@Model.ImagePath" alt="..." /></figure> 
                <section class="mb-2">
                    <div class="form-group">
                        <label asp-for="Content"></label>
                        <textarea rows="15" cols="30" asp-for="Content" class="form-control" readonly="readonly"></textarea>
                    </div>
                </section>
                <div class="row mb-5">
                    <div class="col-md-6">
                        <span class="text-muted fst-italic mb-2">Okunma Sayısı, @Model.ReadCount</span>
                    </div>
                    @if (ViewBag.Sayfa == "user")
                    {
                        <div class="col-md-6">
                            <form method="post" asp-action="AddToLike" class="mb-4">
                                <input type="hidden" name="AppUserID" value="@ViewBag.CurrentAppUserID" />
                                <input type="hidden" name="ArticleID" value="@Model.ID" />
                                @if (Model.Likes.Any(x => x.AppUserID == ViewBag.CurrentAppUserID))
                                {
                                    <input type="hidden" name="Type" value="cancel" />
                                    <button type="submit" class="btn btn-warning float-right">
                                        Beğeni Geri Al
                                        <span class="badge badge-dark badge-pill">@Model.Likes.Count</span>
                                    </button>
                                }
                                else
                                {
                                    <text>
                                        <input type="hidden" name="Type" value="like" />
                                        <button type="submit" class="btn btn-danger float-right">
                                            Beğen <span class="badge badge-dark badge-pill">@Model.Likes.Count</span>
                                        </button>
                                    </text>
                                }
                            </form>
                        </div>
                    }
                </div>
            </article>
            @if (ViewBag.Sayfa == "user")
            { 
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body"> 
                            <form method="post" asp-action="AddToComment" class="mb-4">
                                <div class="form-group">
                                    <textarea name="Text" class="form-control" rows="4" placeholder="Yorum Yaz.."></textarea>
                                    <input type="hidden" name="AppUserID" value="@ViewBag.CurrentAppUserID" />
                                    <input type="hidden" name="ArticleID" value="@Model.ID" />
                                </div>
                                <div class="form-group mt-2">
                                    <input type="submit" class="btn btn-success" value="Gönder" />
                                </div>
                            </form>  
                            @foreach (var comment in Model.Comments)
                            {
                                <div class="d-flex">
                                    <div class="ms-3">
                                        <div class="fw-bold">@comment.Appuser.FullName</div>
                                        @comment.Text
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </section>
            }
        </div> 
    </div>
</div>