@model List<Category>  
<div class="card col-md-8 offset-2 mt-5">
    <div class="card-body">
        <div class="card-text"><h3>Kategori Listeleme Paneli</h3></div>
        <p>
            <a asp-action="Create" class="btn btn-primary">Yeni Kategori Ekle</a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Kategori Ad</th>
                    <th>Durum</th>
                    <th>Operasyon</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.StatuDescription</td>
                        <td> 
                            @if (item.UserFollowedCategories.Any(x => x.CategoryID == item.ID && x.AppUserID == ViewBag.UserId))
                            {
                                 <a asp-action="UnFollow" asp-route-id="@item.ID" class="btn btn-info">Takibi Bırak</a> 
                            }
                            else
                            {
                                <a asp-action="Follow" asp-route-id="@item.ID" class="btn btn-info">Takip Et</a>  
                            }
                            @if (item.AppUserID == @ViewBag.UserId.ToString())
                            {
                                <a asp-action="Update" asp-route-id="@item.ID" class="btn btn-success">Güncelle</a>
                                <a href="" data-toggle="modal" data-target="#silModal" data-id="@item.ID" class="btn btn-danger btn-sm">Sil</a>
                            } 
                            
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div> 

<div class="modal fade" id="silModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Uyarı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hayır</button>
                <button id="btnSil" type="button" class="btn btn-primary">Evet</button>
            </div>
        </div>
    </div>
</div>

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#silModal").on("show.bs.modal", function (event) {
                    let tetikleyenElement = $(event.relatedTarget);
                    let id = tetikleyenElement.data("id");

                    $("#btnSil").click(function () {
                        $.ajax({
                            type: "Get",
                            url: "./Delete",
                            data: { id: id },
                            dataType: "json",
                            contentType: "application/json; charset=utf-8;",
                            success: function (data) {
                                debugger; 
                                if(data.message =='') {
                                    window.location.reload();
                                }else {
                                    alert(data.message);
                                }                
                                    
                            },
                            error: function (error) {
                                alert(error.statusText);
                            }
                        })
                    });
                })
            });
        </script>

    }
